.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    width: 100%;
    .loading-spinner {
        width: 10rem;
        height: 10rem;
        border: 10px solid #676363;
        border-top: 10px solid #cbd5d4; 
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
    }
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
